* {
    font-family: "Quicksand";
}
.container-recipes , .btn {
    background: $backgroundBlueGray;
    background: $linearGradientBlueGray;
}
#nav , .aside-recipes , .card-body {
    background: $backgroundRedWine;
    background: $linearGradientRedWine
}
.btn {
    border-color: grey;
}