@import "var";

.form-recipes {
    background: $backgroundBlueGray;
    background: $linearGradientBlueGray; 
    .formulaire {
        margin: auto;
        text-align: center;
        padding-top: 2rem;
        height: 200vh;
    }
}
.list-ingredients {
    border: 2px solid rgb(113,124,133); 
    th , td {
        border-top: none !important;
    }
}