$backgroundBlueGray : rgb(113,124,133);
$linearGradientBlueGray : linear-gradient(291deg, rgba(113,124,133,1) 10%, rgba(57,86,111,1) 50%);

$backgroundRedWine : rgb(74,5,28);
$linearGradientRedWine : linear-gradient(146deg, rgba(74,5,28,1) 20%, rgba(124,30,61,1) 75%); 